.compteur{
	display: flex;
	justify-content: center;
}
.travail{
	display: flex;
	justify-content: center;
}
.moi{
	display: flex;
	justify-content: center;
}
.bio{
	display: flex;
	justify-content: center;
}
.Images{
	display: flex;
	justify-content: center;
	margin-left: 35%;
}
.button{
	display: flex;
	justify-content: center;
	margin-left: 47%;
}